@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}

.section-features {
  grid-column: center-start/center-end;
}
.feature-box {
    background-color: $color-grey-light-1;
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(#000, .15);
    transition: transform .3s;

    @include respond(tab-port) {
        padding: 2rem;
    }


    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}
